$primary_color: #0cf;

.tag {
	position: relative;
	display: block;
    float: left;
    margin: 0 0.25em 0.25em 0;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	padding: 0.25em;
	padding-right: 42px;
	white-space: pre;
	border: 1px solid rgba(255,255,255, 0.25);
	font-size: 1.6em;

    .btn {
		position: absolute;
		bottom: 0; top: 0;
		margin: auto;
		cursor: pointer;
		opacity: 0.8;

        &:hover {
			opacity: 1;
        }
    }

	.confirm {
		content: url('../img/tag-confirm.png');
		padding: 2px 0 2px 1px;
	}

	.deny {
		content: url('../img/tag-deny.png');
		margin-left: 20px;
		padding: 2px 2px 2px 0;
	}

    .erase {
        content: url('../img/tag-erase.png');
        padding: 2px 2px 2px 4px;
    }

    .disabled {
        opacity: 0.2 !important;
        cursor: default;
    }
}

.user-added {
    border: 1px solid rgba($primary_color, 0.5);
    background: rgba($primary_color, 0.1);
    padding-right: 28px;
}

.nsfw {
    color: red;
    border: 1px solid red;
    text-transform: uppercase;
}

.tag-confirm {
	border: 1px solid rgba(0,255,0, 0.5);
	background-color: rgba(0,255,0, 0.1);
}

.tag-deny {
	border: 1px solid rgba(255,0,0, 0.5);
	background-color: rgba(255,0,0, 0.1);
}

.tag-confirmed {
	border: 1px solid #0f0;
	background-color: rgba(0,255,0, 0.2);
}

.tag-denied {
	border: 1px solid #f00;
	background-color: rgba(255,0,0, 0.2);
}

.tag-add, .tag-add-new {
    display: block;
    clear: both;
//    background-color: rgba(0,0,0, 0.5);
    color: white;
    border: 1px solid rgba(255,255,255, 0.25);
    font-size: 1.6em;
    padding: 0.1em 0.25em;
    margin: 0;
    width: 100px;
}

