@import "tags";

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary_color: #0cf;
$dark_gray: #666;
$neutral_gray: #999;
$light_gray: #ccc;

@mixin horizontal_gradient($start_color, $end_color) {
    background: -moz-linear-gradient(top,  $start_color 0%, $end_color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start_color 0%,$end_color 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $start_color 0%,$end_color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder_color($color) {
    ::-webkit-input-placeholder {
        color: $color;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
    }

    :-ms-input-placeholder {  
        color: $color;
    }
}

::selection {
    background: $primary_color; /* Webkit */
}

::-moz-selection {
    background: $primary_color; /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
	font-family: $helvetica;
}

img {
    border: 0;
}

a, .link {
    color: inherit;
    text-decoration: none;
    border: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

nav {
    position: fixed;
    width: 100%;
    padding: 2px 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 1000;

    .contents {
        max-width: 1100px;
        margin: 0 auto;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
    }

    a:hover {
        text-decoration: none;

        & .user {
            text-decoration: underline;
        }
    }

    img {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .banner {
        margin-right: 5px;
        padding-left: 2px;
    }

    .search {
        display: inline-block;
    }

    .user {
            ;        
    }

    .score {
        color: $primary_color;
    }

    .logout {
        color: $neutral_gray;

        &:hover {
            color: $light_gray;
        }
    }
}

#wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

section {
    max-width: 800px;
    float: left;
}

aside {
    float: left;
    width: 300px;
    height: 600px;
    background-color: gray;
}

.search {
    position: relative;
    width: 244px;

    &.main {
        margin: 20px auto;
    }
}

@include placeholder_color(rgba(255,255,255, 0.4));
input {
    color: white;
    border-color: rgba(255,255,255, 0.2);
    border-style: solid;
    @include horizontal_gradient(rgba(0,0,0,0), rgba(255,255,255,0.05));

    &:hover {
        border-color: rgba(255,255,255, 0.4);
    }

    &:focus {
        @include horizontal_gradient(rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-color: rgba($primary_color, 0.1);
        border-color: rgba($primary_color, 1);
        outline: none;
    }
    
    .search & {
        border-width: 2px;
        border-radius: 4px;
        font-size: 1.1em;
        padding: 0.2em;
        width: 208px;
        padding-right: 28px;
    }
}

button {
    color: white;
    background-color: $primary_color;
    border: 0;
    cursor: pointer;
    padding: 0;
    outline: none;

    img {
        display: block;
    }

    .search & {
        position: absolute;
        top: 0; right: 0;
        padding: 5px 3px;
        background: transparent;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
}

.thumbs-list {
	max-width: 800px;
}

.thumb {
    margin: 0;
    display: block;
    float: left;
    -webkit-transition: -webkit-filter 0.2s;

    &:hover {
        -webkit-filter: brightness(1.15);
    }
}

#banner-main {
    display: block;
    margin: 200px auto 0 auto;
}

.tagline {
    font-weight: normal;
    font-size: 110%;
    color: $neutral_gray;

    &.main {
        margin: 7px auto;
        text-align: center;
    }
}

/* lightbox */
#lbTopContainer {
    .btn {
        cursor: pointer;
        display: block;
        float: right;
        padding-left: 2px;
    }

    .copy {
        margin-top: 2px;
        content: url('../img/link.png');

        &.hover {
            content: url('../img/link_hover.png');
        }

        &.selected {
            content: url('../img/link_selected.png');
        }
    }

    .copy-text {
        display: none;
        float: right;
        font-size: 0.6em;
        margin-right: 2px;
    }

    .star {
        margin-right: -1px;
        content: url('../img/star.png');

        &.hover {
            content: url('../img/star_hover.png');
        }

        &.selected {
            content: url('../img/star_selected.png');
        }
    }

    .dropdown {
        display: none;
    }
}

#lbBottomContainer {
    .credit {
        font-size: 0.8em;
        vertical-align: top;
    }
}

.preload {
    display: none !important;
}
