@import "normalize";
@import "tags";

$GOLDEN_RATIO: 1.618;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary_color: #0cf;
$dark_gray: #666;
$neutral_gray: #999;
$light_gray: #ccc;

@mixin horizontal_gradient($start_color, $end_color) {
    background: -moz-linear-gradient(top,  $start_color 0%, $end_color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start_color 0%,$end_color 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $start_color 0%,$end_color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder_color($color) {
    ::-webkit-input-placeholder {
        color: $color;
        font-family: $helvetica;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-family: $helvetica;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
        font-family: $helvetica;
    }

    :-ms-input-placeholder {  
        color: $color;
        font-family: $helvetica;
    }
}

::selection {
    background: $primary_color; /* Webkit */
}

::-moz-selection {
    background: $primary_color; /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
	font-family: $helvetica;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    line-height: 1.428;
}

a, .link {
    color: inherit;
    text-decoration: none;
    border: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;

        &.user {
            text-decoration: none;

            > .username {
                text-decoration: underline;
            }
        }
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2px 0;
    z-index: 1005;
    box-shadow: 0 -1px 0 0 rgba(255,255,255, 0.05) inset;
    @include horizontal_gradient(rgba(50,50,50, 0.8), rgba(25,25,25, 0.8));

    .contents {
        position: relative;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 6px;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
    }

    a:hover {
        text-decoration: none;
    }

    img {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .user-actions {
        float: right;
        margin-top: 3px;

        input.field {
            width: 120px;
        }

        .create-account {
            margin-right: 4px;
        }

        #login {
            display: inline-block;
        }
    }

    .banner {
        margin-right: 0.5em;
    }

    .search {
        width: 25%;
        min-width: 110px;
        margin-right: 28px;

        input {
            width: 100%;
        }

        button {
            margin-right: -33px;
        }
    }

    .user {
        margin: 0 0.25em 0 0.5em;
    }

    .star {
        margin-right: 0.5em;
    }

    .logout {
        color: $neutral_gray;
        font-size: 0.8em;

        &:hover {
            color: $light_gray;
        }
    }
    
    .notification {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgba(0,0,0, 0.5);
        padding: 1px 6px 2px 6px;
        margin-top: 2px;
        font-size: 0.8em;

        &.front {
            margin-top: 35px;
        }
    }

    &.front {
        background: none;
        box-shadow: none;

        .user-actions {
            margin-right: 6px;
        }
    }
}

#wrap {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 60px;
}

#front-wrap {
    text-align: center;

    .cta {
        margin: 40px auto;
    }

    .create-account {
        display: inline-block;
        margin: 0 5px;
    }
}

$sidebar_width: 300px;
$sidebar_margin: 10px;
$sidebar_padding: 0;
$sidebar_space: $sidebar_width + $sidebar_margin + $sidebar_padding*2;
aside {
    position: absolute;
    right: 0;
    width: $sidebar_width;
    margin-left: $sidebar_margin;
    background-color: #222;
    padding: 10px $sidebar_padding 0 $sidebar_padding;

    h3 {
        margin: 0 0 0 6px;
    }

    .widget {
        background-color: rgba(0,0,0, 0.5);
        width: 290px;
        margin: 0 auto 10px auto;
        padding-bottom: 5px;
        
        h3 {
            margin: 0 0 2px 6px;
            padding-top: 7px;

            img {
                vertical-align: top;
                margin-right: 3px;
            }
        }

        .thumb {
            padding: 5px 0 0 5px;
        }

        .no-results {
            margin: 0.5em;
            font-size: 0.9em;
        }

        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0; 
        }
    }
}

footer {
    background-color: black;
    text-align: center;
    color: $neutral_gray;
    font-size: 0.7em;
    padding: 12px 0 6px 0;

    a {
        padding: 0 3px;

        &:hover {
            text-decoration: none;
            color: $light_gray;
        }
    }

    .copyright {
        display: block;
        margin-top: 3px;
        color: $dark_gray;
    }
}

#main {
    max-width: 800px;
    float: left;
    padding-right: $sidebar_space;
    position: relative;
}

@media (max-width: 520px) {
    aside {
        position: relative;
        display: block;
        clear: both;
        margin: 0 auto;
        width: 100%;
        border-top: 20px solid black; // bit of a hack; should really be 'margin' but clearfix screws things up
    }

    #main {
        margin-right: 0;
    }
}

form {
    &.search {
        position: relative;
        display: inline-block;

        &.main {
            margin: 20px auto;
        }
    }

    &.account {
        div {
            margin-bottom: 4px;
        }

        label {
            display: inline-block;
            color: $light_gray;
        }

        button {
            display: block;
            margin: 10px auto;
        }
        
        .error {
            display: inline;
        }

        &.create {
            label {
                width: 125px;
            }

            button {
                margin-left: 250px;
            }
        }

        &.delete {
            label {
                width: 75px;
            }
        }

        &.password-change, &.password-reset {
            label {
                width: 160px;
            }
        }
    }
}

@include placeholder_color(rgba(255,255,255, 0.4));
input {
    font-family: $helvetica;
    font-size: 0.8em;
    color: white;
    border: 1px solid rgba(255,255,255, 0.2);
    padding: 0.25em;
    @include horizontal_gradient(rgba(0,0,0,0), rgba(255,255,255,0.05));

    &:hover {
        border-color: rgba(255,255,255, 0.4);
    }

    &:focus {
        @include horizontal_gradient(rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-color: rgba($primary_color, 0.15);
        border-color: rgba($primary_color, 1) !important;
        outline: none;
    }

    &.large {
        border-width: 2px;
        font-size: 1.1em;
        padding: 0.2em;
    }

    &.add-gif, &.flag-duplicate {
        display: block;
        margin: 0 auto;
        width: 320px;        
    }
    
    .search & { // this gets applied to the search <form> above this element
        width: 208px;
        padding-right: 28px;
    }
}

button {
    color: black;
    font-family: $helvetica;
    font-size: 0.8em;
    background-color: $primary_color;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    font-weight: bold;
    box-shadow: 1px 1px rgba(255,255,255, 0.25) inset, -1px -1px rgba(0,0,0, 0.25) inset;

    &:hover {
        background-color: $primary_color + #222;
    }

    &:active {
        background-color: $primary_color - #222;
        box-shadow: 1px 1px rgba(0,0,0, 0.25) inset, -1px -1px rgba(255,255,255, 0.1) inset;
    }

    &.disabled {
        background-color: $neutral_gray;
        opacity: 0.5;
        cursor: default;
        box-shadow: none; 
    }

    &.success {
        color: white;
        background-color: rgba(0,255,0, 0.2);
        opacity: 1;
        box-shadow: 0 0 0 1px #0f0 inset;
        font-weight: normal;
    }

    &#add-another {
        float: left;
        margin: 5px 0 0 5px;
    }

    &.small {
        padding: 2px;
    }

    &.medium {
        padding: 5px;
    }

    &.large {
        padding: 10px;
        font-size: 1.3em;
    }

    &.add-gif {
        padding: 3px 6px 0 4px;

        img {
            vertical-align: middle;
            padding: 0 2px 4px 0;
        }
    }

    &.save {
        display: block;
        float: left;
        clear: both;
        margin-top: 5px;
    }

    &.destructive-action {
        background-color: #c00;
        color: white;

        &:hover {
            background-color: red;
        }

        &:active {
            background-color: #a00;
        }
    }

    img {
        ;
    }

    .search & {
        position: absolute;
        top: 0; right: 0;
        padding: 5px 2px;
        background: transparent;
        opacity: 0.4;
        box-shadow: none;

        &:hover {
            opacity: 1;
        }
    }

    .main.search & {
        padding: 5px 4px;
    }
}

.menu {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: rgba(0,0,0, 0.8);
    margin: 0;
    padding: 0.25em 0;
    right: 0;
    top: 22px;
    line-height: 1.5;
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.5); 
    font-size: 0.8em;

    li {
        cursor: pointer;
        padding: 0 0.5em;

        &:hover {
            background-color: rgba(255,255,255, 0.4);
        }
    }
}

.modal {
    display: none;
    $padding: 0;
    position: fixed;
    background-color: #333;
    top: 50%; left: 50%;
    z-index: 1010;
    padding: $padding;
    box-shadow: 0 0 0 1px rgba(255,255,255, 0.1) inset;

    &.medium {
        $e: $padding*2; // effective increase the padding has on a dimension
        $width: 350px - $e;
        $height: (($width + $e) / $GOLDEN_RATIO) - $e;
        width: $width;
        height: $height;
        margin-left: -$width / 2;
        margin-top: -$height / 2;
    }

    h1 {
        font-weight: bold;
        background-color: #111; 
        margin: 0;
        padding: 5px 10px;
        font-size: 150%;
        box-shadow: 1px 0 0 0 rgba(255,255,255, 0.1) inset, -1px 0 0 0 rgba(255,255,255, 0.1) inset, 0 1px 0 0 rgba(255,255,255, 0.1) inset;
    }

    .message {
        padding: 10px;
    }

    .fyi {
        display: block;
        color: $neutral_gray;
        margin-bottom: 1.4em;
        font-size: 0.8em;
    }

    .lead {
        display: block;
        color: $light_gray;
        margin-bottom: 1em;
    }

    .descriptor {
        display: block;
        font-weight: bold;
        margin: 0.5em 0 0.25em 0;
    }

    .conjunction {
        display: block;
        color: $neutral_gray;
        font-weight: bold;
        font-size: 0.9em;
        text-transform: uppercase;
        margin-top: 1em;
    }

    .error {
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    &#add-gif .error {
        position: absolute;
        bottom: 58px;
        right: 10px;
    }
}

.modal-mask {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0, 0.8);
    cursor: pointer;
}

#action-confirmation {
    display: none;
    $width: 192px;
    $height: $width / $GOLDEN_RATIO;
    position: fixed;
    width: $width;
    height: $height;
    top: 50%; left: 50%;
    margin-top: -$height / 2;
    margin-left: -$width / 2;
    background-color: rgba(0,255,0, 0.8);
    z-index: 10000;
    color: black;
    text-align: center;

    .info {
        font-size: 0.8em;
    }
}

#banner-main {
    display: block;
    margin: 200px auto 0 auto;
    width: 100%;
    max-width: 464px;
}

.tagline {
    font-size: 110%;
    color: $neutral_gray;

    &.main {
        margin: 7px auto;
        text-align: center;
    }
}

#delete-account {
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgba(255,0,0, 0.8);
    margin-top: 4.5em;
}

.external-link {
    padding-left: 5px;
    margin-top: -3px;
}

.no-results {
    color: $neutral_gray;
}

.credits {
    color: $dark_gray;

    a {
        color: white;
    }
}

.alert {
    color: yellow;
}

.error, .errorlist {
    color: #f88;
}

.score, .highlight {
    color: $primary_color;

    &.negative {
        color: red;
    }
}

.thumbs-list {
	max-width: 800px;
}

.thumb {
    margin: 0;
    display: block;
    float: left;

    &:hover {
        -webkit-filter: brightness(1.15);
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .thumb {
        width: 100px;

        &.small {
            width: initial;
        }
    }
}

.list-next {
    display: block;
    float: left;
    width: 200px; height: 200px;
    background: rgba(255,255,255, 0.0625) url(../img/arrow_right_black_huge.png) no-repeat;
    // box-shadow: 0 0 0 1px rgba(255,255,255, 0.1) inset;

    &:hover {
        background-color: rgba(255,255,255, 0.125);
    }
}

div.profile {
    h1 {
        display: inline;
        font-size: 5em;
        margin: 0;
    }

    img {
        margin: 0 1px 0 5px;
        vertical-align: text-bottom;
    }
}

section {
    &.profile {
        h2 {
            clear: both;
            margin: 0;
            padding: 1.5em 0 0.5em 0;

            img {
                margin-right: -2px;
            }
        }
    }

    .no-results {
        margin-left: 1.8em;
    }
}

.email-support {
    display: block;
}

.preload {
    display: none !important;
}

/* lightbox */
#lbTopContainer {
    .btn {
        cursor: pointer;
        display: block;
        float: right;
        padding-left: 2px;
    }

    .copy {
        margin-top: 2px;
        content: url('../img/link.png');

        &.hover {
            content: url('../img/link_hover.png');
        }

        &.selected {
            content: url('../img/link_selected.png');
        }
    }

    .copy-text {
        display: none;
        float: right;
        font-size: 0.6em;
        margin-right: 2px;
        width: 130px;
    }

    .star {
        margin-right: -1px;
        content: url('../img/star.png');

        &.hover {
            content: url('../img/star_hover.png');
        }

        &.selected {
            content: url('../img/star_selected.png');
        }
    }

    .dropdown {
        content: url('../img/flag.png');
        margin-left: 2px;

        &.hover {
            content: url('../img/flag_hover.png');
        }
    }
}

#lbCaption {
    .error {
        display: inline-block;
        margin-top: 0.25em;
        font-size: 0.75em;
    }
}

#lbBottomContainer {

    .user {
        display: inline-block;
        font-size: 0.8em;
        margin-top: 1px;
    }
}
