@import "tags";

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary_color: #0cf;
@mixin horizontal_gradient($start_color, $end_color) {
    background: -moz-linear-gradient(top,  $start_color 0%, $end_color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start_color 0%,$end_color 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $start_color 0%,$end_color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
}
@mixin placeholder_color($color) {
    ::-webkit-input-placeholder {
        color: $color;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $color;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
    }

    :-ms-input-placeholder {  
        color: $color;
    }
}

::selection {
    background: $primary_color; /* Webkit */
}

::-moz-selection {
    background: $primary_color; /* Firefox */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
	font-family: $helvetica;
}

img {
    border: 0;
}

a {
    border: 0;
}

@include placeholder_color(rgba(255,255,255, 0.4));
input {
    color: white;
    border: 2px solid rgba(255,255,255, 0.2);
    @include horizontal_gradient(rgba(0,0,0,0), rgba(255,255,255,0.05));

    &:focus {
        @include horizontal_gradient(rgba(0,0,0,1), rgba(0,0,0,0));
        background-color: rgba($primary_color, 0.1);
        border-color: rgba($primary_color, 1);
        outline: none;
    }
    
    .search & {
        border-radius: 4px;
        font-size: 1.1em;
        padding: 0.2em;
    }
}

.main.search {
    margin: 20px 0;
    text-align: center;
}

form .btn {
    background-color: $primary_color;
    color: white;
    cursor: pointer;
}

.thumbs-list {
	max-width: 800px;
}

.thumb {
    margin: 0;
    display: block;
    float: left;
    -webkit-transition: -webkit-filter 0.2s;

    &:hover {
        -webkit-filter: brightness(1.15);
    }
}

#banner-main {
    display: block;
    margin: 200px auto 0 auto;
}

.tagline {
    font-style: italic;
    font-weight: normal;
    font-size: 110%;

    &.main {
        margin: 5px auto;
        text-align: center;
    }
}

/* lightbox */
#lbTopContainer {
    .btn {
        cursor: pointer;
        display: block;
        float: right;
        padding-left: 2px;
    }

    .copy {
        margin-top: 2px;
        content: url('../img/link.png');

        &.hover {
            content: url('../img/link_hover.png');
        }

        &.selected {
            content: url('../img/link_selected.png');
        }
    }

    .copy-text {
        display: none;
        float: right;
        font-size: 0.6em;
        margin-right: 2px;
    }

    .star {
        margin-right: -1px;
        content: url('../img/star.png');

        &.hover {
            content: url('../img/star_hover.png');
        }

        &.selected {
            content: url('../img/star_selected.png');
        }
    }

    .dropdown {
        display: none;
    }
}

#lbBottomContainer {
    .credit {
        font-size: 0.8em;
        vertical-align: top;
    }
}

.preload {
    display: none !important;
}
