{% extends "base.html" %}

{% block title %}Delete account{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">Please correct the errors below.{{ form.non_field_errors }}</p>
{% endif %}

<h1>Delete account</h1>

<p>Are you sure you want to delete your GIFdatabase account? <strong>WARNING: this is a destructive action and cannot be undone.</strong></p>
<p>If you're sure you wish to proceed, re-enter this account's username and password to confirm deletion.</p>

<form class="account delete" method="post" action="">{% csrf_token %}
    <div>
        <label for="id_username">Username</label>
        {{ form.username }}
        <p class="error">{{ form.username.errors }}</p>
    </div>
    <div>
        <label for="id_password">Password</label>
        {{ form.password }}
        <p class="error">{{ form.password.errors }}</p>
    </div>
    <button type="submit" class="medium destructive-action">I understand this action is irrevocable. Delete my account.</button>
</form>

{% endblock %}
