{% autoescape off %}
Hi, you're receiving this e-mail because someone requested a password reset
for your user account at {{ site_name }}.

If that was you, please go to the following page to set a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
Your username, in case you've forgotten, is "{{ user.username }}".

If it wasn't you, it's safe to ignore this email.

Thanks for using {{ site_name }}!

- The {{ site_name }} Team

{% endautoescape %}
