{% extends "registration/base.html" %}

{% block title %}Create an account | GIFdatabase{% endblock %}

{% block primary_content %}

{% if form.errors %}
<p class="error">Please correct the errors below.{{ form.non_field_errors }}</p>
{% endif %}

<h1>Create an account</h1>

<p>Welcome to <span class="highlight"><strong>GIF</strong></span>database! Just fill this out to get an account.</p>

<form method="post" action="{% url 'registration_register' %}" class="account create">{% csrf_token %}

    <div>
        <label for="id_username">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
        <p class="error">{{ form.username.errors.as_text }}</p>
        {% endif %}
    </div>

    <div>
        <label for="id_email">Email address</label>
        {{ form.email }}
        {% if form.email.errors %}
        <p class="error">{{ form.email.errors.as_text }}</p>
        {% endif %}
    </div>

    <div>
        <label for="id_password1">Password</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
        <p class="error">{{ form.password1.errors.as_text }}</p>
        {% endif %}
    </div>

    <div>
        <label for="id_password2">Password (again)</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
        <p class="error">{{ form.password2.errors.as_text }}</p>
        {% endif %}
    </div>

    <button type="submit" class="medium">Create account</button>
</form>
  
{% endblock %}
