body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
    border: 0;
}

a {
    border: 0;
}

.thumbs-list {
	max-width: 800px;
}

.thumb {
    margin: 0;
    display: block;
    float: left;
    opacity: 0.9;
}

    .thumb:hover {
        opacity: 1;
    }

.tag {
	position: relative;
	display: inline-block;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	padding: 0.25em;
	padding-right: 33px;
	margin-bottom: 0.25em;
	white-space: pre;
	border: 1px solid rgba(255,255,255, 0.25);
	border-radius: 2px;
	font-size: 1.3em;
}

	.tag .btn {
		position: absolute;
		bottom: 0; top: 0;
		margin: auto;
		cursor: pointer;
		opacity: 0.8;
	}

		.tag .btn:hover {
			opacity: 1;
		}

	.tag .confirm {
		content: url('../img/tag-confirm.png');
		margin: 2px 0 2px 1px;
	}

	.tag .deny {
		content: url('../img/tag-deny.png');
		margin-left: 16px;
		padding: 2px 2px 2px 0;
	}

.tag-confirm {
	border: 1px solid #4c4;
	background-color: rgba(0,255,0, 0.15);
}

.tag-confirmed {
	border: 1px solid #0f0;
	background-color: rgba(0,255,0, 0.25);
}

.tag-deny {
	border: 1px solid #c44;
	background-color: rgba(255,0,0, 0.15);
}

.tag-denied {
	border: 1px solid #f00;
	background-color: rgba(255,0,0, 0.25);
}
