.tag {
  position: relative;
  display: block;
  float: left;
  margin: 0 0.25em 0.25em 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25em;
  padding-right: 42px;
  white-space: pre;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1.6em; }
  .tag .btn {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.8; }
    .tag .btn:hover {
      opacity: 1; }
  .tag .confirm {
    content: url("../img/tag-confirm.png");
    padding: 2px 0 2px 1px; }
  .tag .deny {
    content: url("../img/tag-deny.png");
    margin-left: 20px;
    padding: 2px 2px 2px 0; }
  .tag .erase {
    content: url("../img/tag-erase.png");
    padding: 2px 2px 2px 4px; }
  .tag .disabled {
    opacity: 0.2 !important;
    cursor: default; }

.user-added {
  border: 1px solid rgba(0, 204, 255, 0.5);
  background: rgba(0, 204, 255, 0.1);
  padding-right: 28px; }

.nsfw {
  color: red;
  border: 1px solid red;
  text-transform: uppercase; }

.tag-confirm {
  border: 1px solid rgba(0, 255, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.1); }

.tag-deny {
  border: 1px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.1); }

.tag-confirmed {
  border: 1px solid #0f0;
  background-color: rgba(0, 255, 0, 0.2); }

.tag-denied {
  border: 1px solid #f00;
  background-color: rgba(255, 0, 0, 0.2); }

.tag-add, .tag-add-new {
  display: block;
  clear: both;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1.6em;
  padding: 0.1em 0.25em;
  margin: 0;
  width: 120px; }

::selection {
  background: #00ccff;
  /* Webkit */ }

::-moz-selection {
  background: #00ccff;
  /* Firefox */ }

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

img {
  border: 0; }

a, .link {
  color: inherit;
  text-decoration: none;
  border: 0;
  cursor: pointer; }
  a:hover, .link:hover {
    text-decoration: underline; }
    a:hover.user, .link:hover.user {
      text-decoration: none; }
      a:hover.user > .username, .link:hover.user > .username {
        text-decoration: underline; }
  #lbBottomContainer a, #lbBottomContainer .link {
    display: inline-block;
    font-size: 0.8em;
    margin-top: 1px; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2px 0;
  z-index: 1005;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.08) inset;
  background: -moz-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25, 25, 25, 0.8)), color-stop(100%, rgba(10, 10, 10, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0.8) 0%, rgba(10, 10, 10, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 );
  /* IE6-9 */ }
  nav .contents {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 6px; }
    nav .contents:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
      /* Adjusts for spacing */ }
  nav a:hover {
    text-decoration: none; }
  nav img {
    display: inline-block;
    vertical-align: text-bottom; }
  nav .user-actions {
    float: right;
    margin-top: 5px; }
  nav .banner {
    margin-right: 0.5em; }
  nav .search {
    width: 25%;
    min-width: 110px;
    margin-right: 28px; }
    nav .search input {
      width: 100%; }
    nav .search button {
      margin-right: -33px; }
  nav .user {
    margin: 0 0.25em 0 0.5em; }
  nav .star {
    margin-right: 0.5em; }
  nav .logout {
    color: #999999;
    font-size: 0.8em; }
    nav .logout:hover {
      color: #cccccc; }

.score, .highlight {
  color: #00ccff; }
  .score.negative, .highlight.negative {
    color: red; }

#wrap {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 70px; }

#front-wrap {
  text-align: center; }

aside {
  position: absolute;
  right: 0;
  width: 300px;
  height: 600px;
  background-color: gray; }

section {
  max-width: 800px;
  float: left;
  margin-right: 300px; }

@media (max-width: 520px) {
  aside {
    position: relative;
    display: block;
    clear: both; }

  section {
    margin-right: 0; } }
form.search {
  position: relative;
  display: inline-block; }
  form.search.main {
    margin: 20px auto; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4); }

input {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.25em;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0.05)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 );
  /* IE6-9 */ }
  input:hover {
    border-color: rgba(255, 255, 255, 0.4); }
  input:focus {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 );
    /* IE6-9 */
    background-color: rgba(0, 204, 255, 0.1);
    border-color: #00ccff !important;
    outline: none; }
  input.large {
    border-width: 2px;
    font-size: 1.1em;
    padding: 0.2em; }
  input.add-gif {
    display: block;
    margin: 0 auto;
    width: 320px; }
  .search input {
    width: 208px;
    padding-right: 28px; }

button {
  color: black;
  background-color: #00ccff;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  font-weight: bold; }
  button:hover {
    background-color: #22eeff; }
  button:active {
    background-color: #00aadd; }
  button.disabled {
    background-color: #999999;
    opacity: 0.5;
    cursor: default; }
  button.medium {
    padding: 5px; }
  button.add-gif {
    padding: 3px 6px 0 4px; }
    button.add-gif img {
      vertical-align: middle;
      padding: 0 2px 4px 0; }
  button.save {
    display: block;
    float: left;
    margin-top: 5px; }
  .search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 2px;
    background: transparent;
    opacity: 0.4; }
    .search button:hover {
      opacity: 1; }
  .main.search button {
    padding: 7px 4px; }

.modal {
  display: none;
  position: fixed;
  background-color: #333;
  top: 50%;
  left: 50%;
  z-index: 1010;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset; }
  .modal.medium {
    width: 350px;
    height: 216.31644px;
    margin-left: -175px;
    margin-top: -108.15822px; }
  .modal h1 {
    background-color: #111;
    margin: 0;
    padding: 5px 10px;
    font-size: 150%;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1) inset, -1px 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(255, 255, 255, 0.1) inset; }
  .modal .message {
    padding: 10px; }
  .modal .fyi {
    display: block;
    color: #999999;
    margin-bottom: 1.4em;
    font-size: 0.8em; }
  .modal .lead {
    display: block;
    color: #cccccc;
    margin-bottom: 1em; }
  .modal .descriptor {
    display: block;
    font-weight: bold;
    margin: 0.5em 0 0.25em 0; }
  .modal .conjunction {
    display: block;
    color: #999999;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 1em; }
  .modal#add-gif .error {
    position: absolute;
    bottom: 58px;
    right: 10px;
    font-size: 0.8em; }

.modal-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer; }

#banner-main {
  display: block;
  margin: 200px auto 0 auto; }

.tagline {
  font-weight: normal;
  font-size: 110%;
  color: #999999; }
  .tagline.main {
    margin: 7px auto;
    text-align: center; }

.external-link {
  padding-left: 5px;
  margin-top: -3px; }

.error {
  color: #f88; }

.thumbs-list {
  max-width: 800px; }

.thumb {
  margin: 0;
  display: block;
  float: left; }
  .thumb:hover {
    -webkit-filter: brightness(1.15); }

.profile h1 {
  display: inline;
  font-weight: normal;
  font-size: 5em;
  margin: 0; }
.profile img {
  margin: 0 1px 0 5px;
  vertical-align: text-bottom; }

h2.profile {
  font-weight: normal;
  clear: both;
  margin: 0;
  padding: 1.5em 0 0.5em 0; }

/* lightbox */
#lbTopContainer .btn {
  cursor: pointer;
  display: block;
  float: right;
  padding-left: 2px; }
#lbTopContainer .copy {
  margin-top: 2px;
  content: url("../img/link.png"); }
  #lbTopContainer .copy.hover {
    content: url("../img/link_hover.png"); }
  #lbTopContainer .copy.selected {
    content: url("../img/link_selected.png"); }
#lbTopContainer .copy-text {
  display: none;
  float: right;
  font-size: 0.6em;
  margin-right: 2px;
  width: 130px; }
#lbTopContainer .star {
  margin-right: -1px;
  content: url("../img/star.png"); }
  #lbTopContainer .star.hover {
    content: url("../img/star_hover.png"); }
  #lbTopContainer .star.selected {
    content: url("../img/star_selected.png"); }
#lbTopContainer .dropdown {
  display: none; }

.preload {
  display: none !important; }
