.tag {
  position: relative;
  display: block;
  float: left;
  margin: 0 0.25em 0.25em 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25em;
  padding-right: 42px;
  white-space: pre;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  font-size: 1.6em; }
  .tag .btn {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.8; }
    .tag .btn:hover {
      opacity: 1; }
  .tag .confirm {
    content: url("../img/tag-confirm.png");
    padding: 2px 0 2px 1px; }
  .tag .deny {
    content: url("../img/tag-deny.png");
    margin-left: 20px;
    padding: 2px 2px 2px 0; }
  .tag .erase {
    content: url("../img/tag-erase.png");
    padding: 2px 2px 2px 4px; }
  .tag .disabled {
    opacity: 0.2 !important;
    cursor: default; }

.user-added {
  border: 1px solid rgba(0, 204, 255, 0.5);
  background: rgba(0, 204, 255, 0.1);
  padding-right: 28px; }

.tag-confirm {
  border: 1px solid rgba(0, 255, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.1); }

.tag-deny {
  border: 1px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.1); }

.tag-confirmed {
  border: 1px solid #0f0;
  background-color: rgba(0, 255, 0, 0.2); }

.tag-denied {
  border: 1px solid #f00;
  background-color: rgba(255, 0, 0, 0.2); }

.tag-add {
  display: block;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  font-size: 1.6em;
  padding: 0.1em 0.25em;
  margin: 0;
  width: 100px; }

::selection {
  background: #00ccff;
  /* Webkit */ }

::-moz-selection {
  background: #00ccff;
  /* Firefox */ }

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

img {
  border: 0; }

a {
  border: 0; }

input {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2); }
  input:focus {
    background-color: rgba(0, 204, 255, 0.1);
    border-color: #00ccff;
    outline: none; }
  .search input {
    border-radius: 4px;
    font-size: 1.1em;
    padding: 0.2em; }

.main.search {
  margin: 20px 0;
  text-align: center; }

form .btn {
  color: #00ccff; }

.thumbs-list {
  max-width: 800px; }

.thumb {
  margin: 0;
  display: block;
  float: left;
  -webkit-transition: -webkit-filter 0.2s; }
  .thumb:hover {
    -webkit-filter: brightness(1.15); }

#banner-main {
  display: block;
  margin: 200px auto 0 auto; }

.tagline {
  font-style: italic;
  font-weight: normal;
  font-size: 110%; }
  .tagline.main {
    margin: 5px auto;
    text-align: center; }

/* lightbox */
#lbTopContainer .btn {
  cursor: pointer;
  display: block;
  float: right;
  padding-left: 2px; }
#lbTopContainer .copy {
  margin-top: 2px;
  content: url("../img/link.png"); }
  #lbTopContainer .copy.hover {
    content: url("../img/link_hover.png"); }
  #lbTopContainer .copy.selected {
    content: url("../img/link_selected.png"); }
#lbTopContainer .copy-text {
  display: none;
  float: right;
  font-size: 0.6em;
  margin-right: 2px; }
#lbTopContainer .star {
  margin-right: -1px;
  content: url("../img/star.png"); }
  #lbTopContainer .star.hover {
    content: url("../img/star_hover.png"); }
  #lbTopContainer .star.selected {
    content: url("../img/star_selected.png"); }
#lbTopContainer .dropdown {
  display: none; }

#lbBottomContainer .credit {
  font-size: 0.8em;
  vertical-align: top; }

.preload {
  display: none !important; }
