/* SLIMBOX */

.thumb-container .top-data,
.thumb-container .aside-data,
.thumb-container .bottom-data {
    display: none;
}

#lbOverlay {
	position: fixed;
	z-index: 990;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbAside, #lbTopContainer, #lbBottomContainer {
	position: absolute;
	z-index: 995;
	overflow: visible;
}

#lbAside {
    padding-left: 4px;
}

#lbTopContainer, #lbBottomContainer {
}

.lbLoading {
	background: transparent url(../img/spinner_large.png) no-repeat center;
}

    .lbLoading.small {
        background: transparent url(../img/spinner_small.png) no-repeat center;
        width: 22px; height: 22px;
    }

        .lbLoading.small.save {
            display: none;
            float: left;
            margin: 7px 0 0 5px;
        }

        .lbLoading.small.check-gif {
           display: none;
           float: right;
           margin-top: -28px;
           margin-right: 4px; 
        }

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
    box-shadow: 0 0 0 1px rgba(255,255,255, 0.1) inset;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../img/arrow_left.png) no-repeat 0 0;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../img/arrow_right.png) no-repeat 100% 0;
}

#lbBottom {
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border-top-style: none;
}

#lbCloseLink {
	display: none; /* TODO: remove from DOM */
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	/* margin-right: 71px; not sure why this is here... */
}

#lbCaption {
}
