{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p><span class="highlight"><strong>GIF</strong></span>database was created and is managed by Harrison Liddiard. You can see his work at <a class="highlight" href="http://harrisonliddiard.com/">harrisonliddiard.com</a>.</p>

<h2>Credits</h2>
<p class="credits">Built in <a href="http://djangoproject.com/">Django</a>. Hosted with <a href="http://heroku.com">Heroku</a> and <a href="http://aws.amazon.com/s3/">Amazon S3</a>. Lightbox plugin modified from <a href="http://www.digitalia.be/software/slimbox2/">slimbox2</a>. Tooltips with <a href="http://onehackoranother.com/projects/jquery/tipsy/">tipsy</a>. Icons from <a href="http://iconmonstr.com/">iconmonstr</a> and <a href="http://glyphicons.com">GLYPHICONS</a>. Graphics editing with <a href="http://gimp.org/">GIMP</a> and <a href="http://inkscape.org">Inkscape</a>. Coded in <a href="http://www.vim.org/">VIM</a> on a <a href="http://www.samsung.com/us/computer/chromebook">Samsung Chromebook</a> running <a href="http://ubuntu.com/">Ubuntu</a>.</p>
{% endblock %}
