<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GIFdatabase: the internet's finest animated GIF search</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taglight.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tipsy.css">
    <script>
        var context = {
            user_is_authenticated: "{{ user.is_authenticated }}" === "True" ? true : false,
            TAG_MAX_LEN: {{ TAG_MAX_LEN }}
        }
    </script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/taglight.js"></script>
    <!--<script src="{{ STATIC_URL }}js/fadeloader.js"></script>-->
    <script src="{{ STATIC_URL }}js/tipsy.js"></script>
</head>
<body>
    <div class="modal-mask"></div>
    <div id="add-gif" class="modal medium">
        <h1><span class="highlight">Add</span> GIF</h1>
        <div class="message">
            <span class="fyi">GIFdatabase hosts GIFs with imgur.com.</span>
            <span class="descriptor">Paste an imgur link:</span>
            <input class="large add-gif" placeholder="http://imgur.com/"/>
            <div class="lbLoading small check-gif"></div>
            <span class="conjunction">or</span>
            <span class="descriptor"><a id="imgur-link" title="Once you've uploaded to imgur, paste the link in the box above." href="http://imgur.com/" rel="nofollow" target="blank">Upload a GIF to imgur<img class="external-link" src="{{ STATIC_URL }}img/external_white.png"/></a></span>
            <span class="error"></span>
        </div>
    </div>
    {% block top_bar %}
    <nav>
        <div class="contents">
            <a class="banner" href="{% url 'front' %}"><img src="{{ STATIC_URL }}img/banner_small.png"/></a>
            <form method="get" class="search" action="{% url 'search_results' %}">
                <input class="large" type="text" name="q" placeholder="Search GIFs"/>
                <button type="submit"><img src="{{ STATIC_URL }}img/magnifier.png"/></button>
            </form>
            <div class="user-actions">
                {% if user.is_authenticated %}
                    <button class="add-gif"><img src="{{ STATIC_URL }}img/plus_black.png"/>Add GIF</button>
                    <a class="user" title="Your profile" href="{% url 'profile' user %}"><span class="username">{{ user.username }}</span> <span class="score">{{ user.getUserScore }}</span></a>
                    <a class="star" title="Your starred GIFs" href="{% url 'profile_starred' user %}"><img src="{{ STATIC_URL }}img/star_selected.png"/></a>
                    <a class="logout" href="/logout/">Logout</a>
                {% else %}
                    <form method="post" action="{% url 'login' %}" id="login">{% csrf_token %}
                        <input type="text" name="username" placeholder="username"/>
                        <input type="password" name="password" placeholder="password"/>
                        <input type="submit" value="Login"/>
                    </form>
                {% endif %}
            </div>
            <div class="login-required alert"></div>
        </div>
    </nav>
    {% endblock %}

    {% block extra_wrap %}{% endblock %}

    {% block wrap %}
    <div id="wrap">
        <div id="main">
        {% block content %}
        {% endblock %}
        </div>

        {% block sidebar %}
        <aside>
            <div class="widget">
                <h3><img src="{{ STATIC_URL }}img/recent_white.png"/>Just <span class="highlight">added</span></h3>
                {% for gif in recent_gifs %}
                    {% include 'list_small.html' %}
                {% endfor %}
            </div>
            <div class="widget">
                {% if user.is_authenticated %}
                    <h3><img src="{{ STATIC_URL }}img/bookmark_white.png"/>Recommended for <span class="highlight">you</span></h3>
                {% else %}
                    <h3><img src="{{ STATIC_URL }}img/star_white.png"/><span class="highlight">Popular</span> right now</h3>
                {% endif %}
                {% if recommended_gifs %}
                    {% for gif in recommended_gifs %}
                        {% include 'list_small.html' %}
                    {% endfor %}
                {% else %}
                    <div class="no-results">No recommendations yet! Add some GIFs or tags and your recommendations will show up here.</div>
                {% endif %}
            </div>
            <footer>
                <a href="">About</a>
                <a href="">Terms</a>
                <a href="">Legal</a>
                <span class="copyright">&copy; 2013 Harrison Liddiard</span>
            </footer>
        </aside>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- preloading -->
    <img class="preload" src="{{ STATIC_URL }}img/star_hover.png"/>
    <img class="preload" src="{{ STATIC_URL }}img/link_hover.png"/>
</body>
</html>
