<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Project Menagerie</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/taglight.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/taglight.js"></script>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            {{ user.username }}
            {{ user_score }}
            <a href="/logout/">Logout</a>
        {% else %}
            <form method="post" action="{% url 'login' %}" id="login">{% csrf_token %}
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <input type="submit" value="Login"/>
            </form>
        {% endif %}
    </header>
{% block content %}
{% endblock %}
</body>
</html>
