{% extends 'base.html' %}

{% block top_bar %}
<nav class="front">
    <div class="user-actions">
        {% if user.is_authenticated %}
            <button class="add-gif"><img src="{{ STATIC_URL }}img/plus_black.png"/>Add GIF</button>
            <a class="user" title="Your profile" href="{% url 'profile' user %}"><span class="username">{{ user.username }}</span> <span class="score">{{ user.getUserScore }}</span></a>
            <a class="star" title="Your starred GIFs" href="{% url 'profile_starred' user %}"><img src="{{ STATIC_URL }}img/star_selected.png"/></a>
            <a class="logout" href="/logout/">Logout</a>
        {% else %}
            <form method="post" action="{% url 'login' %}" id="login">{% csrf_token %}
                <input class="field" type="text" name="username" placeholder="username"/>
                <input class="field" type="password" name="password" placeholder="password"/>
                <input type="submit" value="Log in"/>
            </form>
        {% endif %}
    </div>
    <div class="notification front"></div>
</nav>
{% endblock %}

{% block extra_wrap %}
    <div id="front-wrap">
        <img id="banner-main" src="{{ STATIC_URL }}img/banner_large.png" alt="GIFdatabase"/>
        <h2 class="main tagline">The internet&rsquo;s finest animated GIF search</h2>
        <form method="get" class="main search" action="{% url 'search_results' %}">
            <input class="large" type="text" name="q" placeholder="Search GIFs"/>
            <button type="submit"><img src="{{ STATIC_URL }}img/magnifier.png"/></button>
        </form>
        <div class="cta">
            <span>Join the community.</span>
            <a href="{% url 'registration_register' %}"><button class="large create-account">Create an account</button></a>
        </div>
    </div>
{% endblock %}

{% block wrap %}{% endblock %}
