<a class="thumb-container" href="{{ gif.getUrl }}" rel="lightbox-{{ gif.group }}">
    <img class="thumb" src="{{ gif.getImgurThumb }}" />
    <div class="top-data">
        <img class="btn dropdown"/>
        <img title="Add to starred" class="btn star" data-gif="{{ gif.pk }}"/>
        <img title="Copy link" class="btn copy"/>
        <input class="copy-text" value="{{ gif.getUrl }}" readonly/>
    </div>
    <div class="aside-data">
        {% for tag in gif.tagList %}
            {% if tag.user_added == user %}
                <span class="user-added tag" data-tag="{{ tag.pk }}"><span class="link" onclick="document.location.href=&quot;{% url 'search_results' %}?q={{ tag.tag }}&quot;;return false">{{ tag.tag }}</span><img class="btn erase{% if tag.hasBeenVotedOn %} disabled{% endif %}"{% if tag.hasBeenVotedOn %} title="This tag can't be erase because it's been voted on."{% endif %}/></span>
            {% else %}
                <span class="tag{% if not tag.isVerified %} unverified{% endif %}" data-tag="{{ tag.pk }}"><span class="link" onclick="document.location.href='{% url 'search_results' %}?q={{ tag.tag }}';return false">{{ tag.tag }}</span><img class="btn confirm"/><img class="btn deny"/></span>
            {% endif %}
        {% endfor %}
        <input class="tag-add" placeholder="+ add tag" data-gif="{{ gif.pk }}" maxlength="{{ TAG_MAX_LEN }}"/>
    </div>
    <div class="bottom-data">
        <span class="user link" onclick="document.location.href='{% url 'profile' gif.user_added %}'"><span class="username">{{ gif.user_added }}</span> <span class="score">{{ gif.user_added.getUserScore }}</span></span>
    </div>
</a>
