{% extends "base.html" %}

{% block content %}
    <div class="profile">
        <h1><span class="username">{{ username }}</span> <span class="score">{{ score }}</span></h1>
        <a href="{% url 'profile_starred' username %}"><img src="{{ S3_URL }}img/star_selected.png"/>{{ starred_total }}</a>
        <a href="{% url 'profile_added' username %}"><img src="{{ S3_URL }}img/plus_green.png"/>{{ added_total }}</a>
    </div>

    <section class="profile">
        <h2>Recently <a class="highlight" href="{% url 'profile_starred' username %}">starred</a></h2>
        {% if starred_recent %}
            {% for fav in starred_recent %}
                {% with fav.gif as gif %}
                    {% include "list.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            <span class="no-results">{{ username }} hasn&rsquo;t starred any GIFs yet.</span>            
        {% endif %}
    </section>

    <section class="profile">
        <h2>Recently <a class="highlight" href="{% url 'profile_added' username %}">added</a></h2>
        {% if added_recent %}
            {% for gif in added_recent %}
                {% include "list.html" %}
            {% endfor %}
        {% else %}
            <span class="no-results">{{ username }} hasn&rsquo;t added any GIFs yet.</span>
        {% endif %}
    </section>

{% endblock %}
