{% extends "base.html" %}

{% block content %}
    <section class="profile">
        <h2>
            <img src="{{ S3_URL }}img/star_selected.png"/>
            <a href="{% url 'profile' username %}">
                {% if user == username %}
                    Your</a>
                {% else %}
                    <span class="username">{{ username }}</span></a>&rsquo;s
                {% endif %}
                 <span class="highlight">starred</span> <small>({{ starred_total }})</small>
        </h2>

        {% for fav in starred %}
            {% with fav.gif as gif %}
                {% include "list.html" %}
            {% endwith %}
        {% endfor %}
    </section>
{% endblock %}
