{% extends "base.html" %}
{% load get_append %}

{% block content %}
    <section>
        <h2>
            <img src="{{ STATIC_URL }}img/star_selected.png"/>
            <a href="{% url 'profile' username %}">
                {% if user == username %}
                    Your</a>
                {% else %}
                    <span class="username">{{ username }}</span></a>&rsquo;s
                {% endif %}
                 <span class="highlight">starred</span> <small>({{ starred_total }})</small>
        </h2>

        {% if starred %}
            {% for fav in starred %}
                {% with fav.gif as gif %}
                    {% include "list.html" %}
                {% endwith %}
            {% endfor %}
            {% if starred.has_next %}
                <a class="list-next" title="Next page" href="{% append_to_get page=starred.next_page_number %}"></a>
            {% endif %}
        {% else %}
            <span class="no-results">{{ username }} hasn&rsquo;t starred any GIFs yet.</span>
        {% endif %}
    </section>
{% endblock %}
