{% extends "base.html" %}
{% load get_append %}

{% block content %}
    <section>
        <h2>
            <img src="{{ S3_URL }}img/plus_green.png"/>
            <a href="{% url 'profile' username %}">
                {% if user == username %}
                    Your</a>
                {% else %}
                    <span class="username">{{ username }}</span></a>&rsquo;s
                {% endif %}
                 <span class="highlight">added</span> <small>({{ added_total }})</small>
        </h2>

        {% if added %}
            {% for gif in added %}
                {% include "list.html" %}
            {% endfor %}
            {% if added.has_next %}
                <a class="list-next" title="Next page" href="{% append_to_get page=added.next_page_number %}"></a>
            {% endif %}
        {% else %}
            <span class="no-results">{{ username }} hasn&rsquo;t added any GIFs yet.</span>
        {% endif %}
    </section>
{% endblock %}
