{% extends "base.html" %}
{% load get_append %}

{% block content %}
    <section class="profile">
        <h2>
            <img src="{{ S3_URL }}img/star_selected.png"/>
            <a href="{% url 'profile' username %}">
                {% if user == username %}
                    Your</a>
                {% else %}
                    <span class="username">{{ username }}</span></a>&rsquo;s
                {% endif %}
                 <span class="highlight">starred</span> <small>({{ starred_total }})</small>
        </h2>

        {% for fav in starred %}
            {% with fav.gif as gif %}
                {% include "list.html" %}
            {% endwith %}
        {% endfor %}
        {% if starred.has_next %}
            <a class="list-next" title="Next page" href="{% append_to_get page=starred.next_page_number %}"></a>
        {% endif %}
    </section>
{% endblock %}
