{% extends "base.html" %}

{% block content %}
<h1>Terms of Service</h1>
<p>By using this site, you agree to the following terms: GIFdatabase takes no responsibility for user-added content. Added content must not infringe on copyright, contain illegal content (as defined by the jurisdiction in which GIFdatabase is hosted). GIFdatabase reserves the right to change these terms at any time without notice and to ban users who it deems are detrimentally affecting the GIFdatabase community.</p>
<p>TL;DR don't be a jerk.</p>
{% endblock %}
