{% extends "base.html" %}

{% block title %}Terms of Service | GIFdatabase{% endblock %}

{% block content %}

<h1>Terms of Service</h1>
<p>By using this site, you agree to the following terms: GIFdatabase takes no responsibility for user-added content. Added content must not infringe on copyright, contain illegal content (as defined by the jurisdiction in which GIFdatabase is hosted). GIFdatabase reserves the right to change these terms at any time without notice and to ban users who it deems are detrimentally affecting the GIFdatabase community.</p>
<p>TL;DR don't be a jerk.</p>

<h2>Legal</h2>
<p>GIFdatabase does not host user-added animated GIF images. User-added animated GIFs and small thumbnails (90x90, displayed in the sidebar) are hosted with imgur.com. If you believe any such content is in violation of intellectual property rights, please refer to <a href="http://imgur.com/tos#dmca">imgur's Terms of Service</a>. GIFdatabase only hosts only the larger, 200x200 thumbnails, which we hold fall under Fair Use, being low resolution, not detrimentally affecting compensation of the creator of the work, and generally comprising a small fraction of the full work.</p>

{% endblock %}
